.logo {
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    z-index: 4;
    text-transform: uppercase;
    font-weight: 1000;
}

.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
}

.mat-list-item {
    color: #fff !important;
    font-size: 20px;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
}

.logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 45px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
}

.logo a.logo-normal {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.5);
}

.alt {
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    color: #ffff;
    text-decoration: none;
    overflow: hidden;
}

img {
    width: 150px;
    margin-left: -14px;
    padding-right: 30px; padding-bottom: 10px; 
}

.nav li>a {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: rgba(255, 255, 255, .8);
    width: 200px;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 15px;
    line-height: 1.5rem;
    transition: all .3s ease 0s;
}

.nav li>a i {
    width: 25px;
    margin-right: 10px;
    font-size: 2.125rem;
}

.nav li>a:hover,
.nav li>a:hover i {
    color: rgba(255, 255, 255, 1);
    transition: all .3s ease 0s;
}

.nav li.active>a:before {
    content: " ";
    position: absolute;
    height: 6px;
    width: 6px;
    top: 17px;
    left: -2px;
    background: #fff;
    border-radius: 50%;
}

