<mat-nav-list>
    <div class="logo ">
        <a routerLink="/home"><img src="../../assets/logo.png.png" alt="CRM-FNI" class="filter-yellow" /></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: #fff;">
        APPLICATIONS
    </h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>
        Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/clients" routerLinkActive="list-item-active">
        <mat-icon>group</mat-icon> Clients
    </a>
    <a mat-list-item routerLink="/evenements" routerLinkActive="list-item-active">
        <mat-icon>compare_arrows</mat-icon> Evenements
    </a>
    <a mat-list-item routerLink="/interlocuteurs" routerLinkActive="list-item-active">
        <mat-icon> contact_phone</mat-icon> Interlocuteurs </a>
    <a mat-list-item routerLink="/documents" routerLinkActive="list-item-active">
        <mat-icon> description</mat-icon> Documents </a>
    <a mat-list-item routerLink="/rapports" routerLinkActive="list-item-active">
        <mat-icon>note_add</mat-icon> Rapports
    </a>
    <a mat-list-item routerLink="/agenda" routerLinkActive="list-item-active">
        <mat-icon> insert_invitation</mat-icon> Agenda
    </a>
</mat-nav-list>