<form [formGroup]="editForm"  novalidate>
    <div id="printsection">
    <div class="controles-container">
        <h2>Details de client</h2>
        <mat-form-field>
            <input formControlName="idclient" matInput placeholder="identifiant" readonly >
            <mat-error>Ce champ est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="NomClient" matInput placeholder="nom client" readonly>
            <mat-error>Ce champ est obligatoire</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="intitule" matInput placeholder="Intitulé du projet" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="siteweb" matInput placeholder="Site Web" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="ref" matInput placeholder="Reference" readonly>
        </mat-form-field>
    </div>
    <div class="controles-container">
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Adress Email" readonly>
            <mat-error>email invalide</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="tele1" matInput placeholder="Telephone Mobile" readonly>
            <mat-error> Ce champ est obligatoire </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="tele2" matInput placeholder="Telephone Fix"  readonly>
            <mat-error> Ce champ est obligatoire </mat-error>
          

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Wilaya" [matAutocomplete]=" auto" formControlName="wilaya" readonly>
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="adresse" matInput placeholder="Adresse" readonly>
        </mat-form-field>
    </div>
    <div class="controles-container">
        <mat-form-field>
            <mat-select placeholder="Secteur" formControlName="secteurA" readonly>
                
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="formeleg" matInput placeholder="Forme Légale" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="capitale" matInput placeholder="Capitale en Dinars" readonly>
            <span matSuffix>.00</span>
            <span matSuffix>DA &nbsp;</span>

        </mat-form-field>
        <br>
        <mat-form-field>
            <input formControlName="CodeRC" matInput placeholder="Code Rc" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="CodeNIF" matInput placeholder="Code NIF" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="codeP" matInput placeholder="Code Postale" readonly>
        </mat-form-field>
    </div>

    <div class="controles-container">
        <mat-form-field>
            <input formControlName="type" matInput placeholder="Type d'entreprise" readonly>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="comerciale" matInput placeholder="Commercial" readonly>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="type_C" placeholder="type" readonly>
                
            </mat-select>
        </mat-form-field>
      
    </div>
    </div>
    <div class="button-row">
           
        <button mat-raised-button color="accent" type="submit" class="btn btn-success" printSectionId="printsection" ngxPrint>
            Print               </button>
        </div>





</form>